# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/app/keystore.jks
android/key.properties
*.apk

# 其他
*.log
.DS_Store
